body {
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(16, 11, 70, .72), rgb(156, 156, 156));
    border-radius: 16px;
}

html {
  font-size: 14px;
}

#delete-btn{
    padding-top: 7px
}

.detail-buttons {
    color: Navy;  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.tables-title {
    color: rgba(16, 11, 70)
}

#title-and-such {
    padding-top: 50px;
    font-size: larger;
    color: rgb(16, 11, 70);
}

#create-button {
    padding-top: 8px;
}

#save-button {
    padding-top: 8px;
}

.coach-createnew {
    color: Navy;
}

.college-createnew {
    color: Navy;
}

.player-createnew {
    color: Navy;
}

.navbar-brand{
    color: aliceblue
}

.form-group{
    padding : 2px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: aliceblue;
}

header {
    background-color: #100b46;
}

body {
    margin-bottom: 60px;
    background-color: rgb(167, 167, 167);
}